body{
    margin: 0px;
    padding: 0px;
}
.page_content{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #efefef
}
.page_content .header{
    height: 10%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.page_content .header .header_title{
    font-size: 30px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}


.page_content .card_container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.page_content .card_container .card_box{
    width: 500px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;       
}
.page_content .card_container .card_box .card{
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}    

.page_content .card_container .button_container{
    width: 25%; 
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.page_content .card_container .button_container .button_box{
    height: 45%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_content .card_container .button_container .button_box .btn{
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid; */
    width: 70%;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #72c3dc;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 3px 1px  #2B8EAD;
    cursor: pointer;
}

.page_content .footer{
    height: 10%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;       
}
.page_content .footer .footer_content{
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}


@media only screen and (min-device-width : 120px) and (max-device-width : 480px) {

    .page_content{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff
    }
    .page_content .header{
        height: 10%;
        width: 100%;
        background-color: #2f454e;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .page_content .header .header_title{
        font-size: 60px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
    }

    .page_content .card_container{
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .page_content .card_container .card_box{
        width: 100%; 
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .page_content .card_container .card_box .card{
        width: 90%;
        flex: 1;
        margin: 1% 0%;
        /* height: 150px; */
        /* width: 150px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        /* flex-wrap: wrap;   */
        color: #fff;
        font-size: 60px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        border: none !important;        
        /* border-color: #efefef; */
        /* overflow: hidden; */
        /* border: 1px solid efefef; */
    }

    .page_content .card_container .card_box .card .card_text{
        background-color: #efefef;
        height: 100%;
        width: 97%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #000;
    }

    .page_content .card_container .button_container{
        width: 100%; 
        height: 15%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .page_content .card_container .button_container .button_box{
        height: 80%;
        width: 60%;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .page_content .card_container .button_container .button_box .btn{
        font-family: Arial, Helvetica, sans-serif;
        /* border: 1px solid; */
        width: 45%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #72c3dc;
        color: #fff;
        font-size: 40px;
        text-transform: uppercase;
        border-radius: 10px;
        box-shadow: 0px 10px 1px  #2B8EAD;
        cursor: pointer;
    }
    .page_content .footer{
        height: 10%;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;       
    }
    .page_content .footer .footer_content{
        font-size: 45px;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-style: italic;
    }
}

